
spring:
  application:
    name: "Book Social Network"
  datasource:
    url: jdbc:postgresql://localhost:5435/book_social_network
    username: postgres
    password: book
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: devrezo9@gmail.com
    password: pzujvdpdnntgtqvu
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
#        connectiontimeout: 5000
#        tiemout: 3000
#        writetimeout: 5000
app:
  security:
    jwt:
      secret-key: c7600eff02d03318c617824e1dbdbf10e33d04e7033d46fee856645ebdd4aac1
      expiration: 86400000
    mailing:
      frontend:
        activation-url: http://localhost:4200/activate-account
  file:
    uploads:
      photos-output-path: ./uploads
server:
  port: 8088
